numpy
pymongo
python-dotenv
pgvector
asyncpg
psycopg2-binary
sqlalchemy[asyncio]
async-sqlalchemy
python-pptx
tc-neo4j-lib
google-api-python-client
unstructured
cohere
neo4j>=5.14.1, <6.0.0
coverage>=7.3.3, <8.0.0
pytest>=7.4.3, <8.0.0
python-dotenv==1.0.0
tc-hivemind-backend==1.2.2
llama-index-question-gen-guidance==0.1.2
llama-index-vector-stores-postgres==0.1.2
celery>=5.3.6, <6.0.0
celery[redis]>=5.3.6, <6.0.0
guidance==0.1.14
tc-messageBroker==1.7.1
traceloop-sdk==0.14.1
backoff==2.2.1
fastapi[standard]==0.114.1
faststream==0.5.23
aio_pika==9.4.0
mongomock==4.2.0.post1
