numpy==1.26.4
pandas==2.2.3
async-sqlalchemy==1.0.0
python-pptx==1.0.2
tc-neo4j-lib==2.0.4
google-api-python-client==2.156.0
unstructured==0.16.11
tc-hivemind-backend==1.4.2.post2
llama-index-question-gen-guidance==0.1.2
llama-index-vector-stores-postgres
celery[redis]>=5.3.6, <6.0.0
guidance==0.1.14
tc-messageBroker==1.7.1
traceloop-sdk==0.31.0
backoff==2.2.1
fastapi[standard]==0.114.1
faststream==0.5.28
aio_pika==9.4.0
mongomock==4.2.0.post1
pydantic==2.9.2
temporalio==1.9.0
tc-temporal-backend==1.1.4
ragas==0.3.1
ragas_experimental==0.3.1